//* Body
$bodyColor: #cfd8dc;
$bodyAccentColor: #eceff1;
$bodyTextColor: #37474f;
$bodyTextSize: 16px;
$bodyContainerBorder: #7b8b94 solid 2px;

// * Table
$tableHeadColor: #b0bec5;
$tableBodyColor: #eceff1;
$tableTextColor: #37474f;
$tableFontSize: 10px;

// * Header
$headerColor: #263238;
$headerAccentColor: #3c464b;
$headerTextColor: #f0f0f0;
$headerFontSize: 22px;
$headerPadding: 5px 10px;
$headerAccentFontSize: 16px;
$headerAccentSubFontSize: 14px;
$headerAccentFontWeight: 400;

// * Nav
$navColor: #263238;
$navTextColor: #cecece;
$hoverNavTextColor: #f0f0f0;
$navFontSize: 10px;

// * Input
$inputHeight: 40px;
$inputMargin: 10px;
$inputPadding: 0 15px;
$inputBorderRadius: 3px;

// * Button
$buttonColor: #3c464b;
$buttonText: #f0f0f0;
$buttonTextSize: 14px;
$buttonBorderRadius: 3px;
$buttonFontWeight: 300;
$hoverButtonColor: #263238;
